@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

/* normalize */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* library */
.inline-grid {
  font-size: 0;
}

.inline-grid > * {
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}  

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

/* custom */
.con {
  width: 1200px;
  color: #333333;
  font-weight: 500;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* top-banner */
.top-banner {
  line-height: 50px;
  background-color: #101010;
}

.top-banner > a {
  font-size: 14px;
  font-weight: 300;
  color: #EEEBEB;
}

/* top-bar */
.top-bar > .top-menu-1 {
  line-height: 50px;
}

.top-bar > .top-menu-1 a {
  font-size: 12px;
  margin-left: 32px;
}

/* menu-bar-1 */
.menu-bar-1 {
  border: red solid 1px;   
}

.top-search {
  
}

.menu-bar-2 {
  border: blue solid 1px;      
}

.menu-bar-2 a {
  display: inline-block;
  border: red solid 1px;      
}