@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500&display=swap');

/* normalize */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border:none;
}

input:focus {
  outline:none;
}

/* library */
.inline-grid {
  font-size: 0;
}

.inline-grid > * {
  font-size: 1rem;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}

.border-red {
  border: 10px solid red;
}

.border-blue {
  border: 10px solid blue;
}

.border-gold {
  border: 10px solid gold;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.block {
  display: block;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

.con {
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.img-box > img {
  display: block;
  width: 100%;
}

.cell {
  float: left;
  box-sizing:border-box;
}

.row::after {
  content:"";
  display: block;
  clear: both;
}

/* Custom */
.con {
  max-width: 1200px;
  color: #333333;
  font-weight: 500;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

/* top-banner */
.top_banner {
  line-height: 50px;
  background-color: #101010;
}

.top_banner > a {
  font-size: 14px;
  font-weight: 300;
  color: #EEEBEB;
}

/* 탑 바 */
.top-bar {
}

.con > .top-bar > ul li {
  padding: 0 12px;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
  margin-top: 10px;
}

/* 호버된 탑바 메뉴 아이템 */
.con > .top-bar > ul > li:hover {
  color: #9b9b9b;
}

/* 탑 로고 */
.con > .top-section {
  margin-top: 35px;
  margin-bottom: 35px;
  line-height: 32px;
}

.con > .top-section > .top-logo {
  text-align: left;
}

/* 호버된 탑 로고 이미지 */
.con > .top-logo > a:hover > img {
  opacity: 55%;
}

/* input */
input {
  border: 3px solid #60A9A6;
  border-radius: 20px;
  width: 400px;
  padding: 10px 10px 10px 30px;
}

.input-box {
  margin: 0 200px;
}

.input-box__placeholder {
  position: relative;
}

.input-box__placeholder > label {
  position: absolute;
  top: 50%;
  margin-left: 30px;
  font-weight: 300;
  font-size: 14px;
  transform: translatey(-50%);
  color: #C1C1C1;
}

.input-box__placeholder > label.focus {
  display: none;
}

/* button */
.top-section .input-box #searchSubmit {
  position: absolute;
  top: 9px;
  right: 25px;
  width: 21px;
  height: 21px;
  background: url(https://i.postimg.cc/k5Nfb73n/image.png) no-repeat 50% 50%;
  text-indent: -9999px;
}

button {
  text-align: center;
  color: #fff;
}
button, input[type=submit] {
  border: 0;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}

/* top-section-2 */
.Recent_Search {
  margin-top: 8px;
  margin-left: 60px;
}

.Customer_Service {
  margin-top: 8px;
  padding: 0 15px;
}

.Q_and_A {
  margin-top: 4px;
}

.con > .top-section > .top-section-2 {
  text-align: right;
}

/* top-menu-2 */
.top-menu-2 {
  width: auto;
  border-top: 1px solid #DFDFDF;
  border-bottom: 2px solid #333333;
}

.top-menu-2 li {
  position: relative;
}

.top-menu-2 > ul {
}

/* top-menu-2의 모든 아이템 텍스트 */
.top-menu-2 li > a {
  font-size: 16px;
  color: #333333; 
  white-space: nowrap;
  text-align: center;
  margin: 0 56px;
  padding: 25px 0px;
  display: block;
}

/* top-menu-2의 서브메뉴-1 */
.top-menu-2 > ul > li > ul {
  display: none;
  position: absolute;
  top: 150%;
  left: 40%;
  width: 100%;
} 

/* 호버된 서브메뉴-1 */
.top-menu-2 > ul > li:hover > ul {
  display: block;
  border: 1px solid #e1e0e0;
  text-align: left;
  background-color: white; 
}

.top-menu-2 > ul > li > ul a {
  margin: 10px 30px;
  font-size: 0.9rem;
  text-align: left;
}

/* 호버된 서브메뉴-2 */
.top-menu-2 > ul > li > ul:hover > li {
  display: block;
}


/* 탑 배너 */
.con > .top-slider {
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
}

/* 친구초대 광고배너 */
.bn-1 > img {
  margin: 80px 0;
  width: 1200px;
}

/* list_1 */
.list1 .cell {
  width: 25%;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
} 

.list1 .cell > .product-name {
  font-weight: 300;
  text-align: left;
  margin-top: 10px;
}

.list1 .row {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 0;
  
}

@media ( max-width: 1000px ) {
  .list1,.list2,.list3 .cell {
    width: calc(100% / 3);
  }
}

@media ( max-width: 780px ) {
  .list1,.list2,.list3 .cell {
    width: 50%;
  }
}

@media ( max-width: 480px ) {
  .list1,.list2,.list3 .cell {
    width: 100%;
  }
}

.copy {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 20px;
}

.top-bn-box {
  overflow: hidden;
  margin-top: -255px;
}

@media ( max-width: 700px ) {
  .top-bn-box > .img-box {
    margin-left: -50%;
 }
}

/* section_2 */
.section_2, .section_3 {
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  margin: 100px 30px 0px 0px;
}

/* list_2 */
.list2 .cell {
  width: 33.333%;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
} 

.list2 .cell > .product-name {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-top: 20px;
}

.list2 .cell > .product-text {
  font-weight: 400;
  color: #717171;
  text-align: center;
  margin-top: 5px;
}

.list2 .row {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 0;
}

.list2 .cell .img-box img {
  border-radius: 11px;
}

/* bn-2 */
.bn-2 > img {
  margin-top: 100px;
  text-align: center;
}

/* list_3 */
.list3 .cell {
  width: 50%;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 40px;
} 

.list3 .cell > .product-name {
  font-weight: 600;
  font-size: 24px;
  text-align: left;
  margin-top: 35px;
}

.list3 .cell > .product-text {
  font-weight: 400;
  font-size: 14px;
  color: #717171;
  text-align: left;
  margin-top: 20px;
}

.list3 .row {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 0;
}

/* Review_are */
.Review_area {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 40px;
}

.review_box > .review-list {
  padding-left: 10px;
  padding-right: 10px;
}

.review_box > .review-list div {
  border: #dfdfdf solid 1px;
  width: 215px;
  height: 367px;
  padding-left: 10px;
  padding-right: 10px;
}

/* instar_area */
.instar_area {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.instar_box > .instar-list div {
  width: 237px;
  height: 237px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 150px;
  border: red solid 1px;
}

.instar_box > .instar-list div img {
  width: 100%;
  height: 100%;
}

/* footer */
.footer-line {
  border: #dfdfdf solid 0.1px;
}

.footer {
  background-color: #F9F8F7;
}

.footer .footer-text {
  margin-top: 150px;
  padding-bottom: 150px;
  font-size: 14px;
  font-weight: 400;
  width: 1200px;
  margin-left: 360px;
  margin-right: 360px;
}

.footer-logo > img {
  margin-bottom: 20px;
}

/* 커스텀 끝 */